/* RESET */
* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans 3", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #d8eedf;
}

h1 {
  color: #4E715C;
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  padding-bottom: 24px;
}

h2 {
  padding-top: 32px;
  color: #4E715C;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  margin-bottom: 0px;
}

p {
  font-size: 18px;
  font-weight: 500;
}

header, footer {
  height: auto;
  width: auto;
  background-color: #4E715C;
}

header {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

ul {
  list-style: none;
}

i {
  font-size: 24px;
  color: #3c5948;
}
i:hover {
  color: #f2a93f;
}

.logo-michiland {
  display: flex;
  justify-content: start;
  align-items: center;
}
.logo-michiland a {
  text-decoration: none;
  padding: none;
}

.header-michiland h2 {
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  padding-top: 0px;
  padding-left: 8px;
  margin: 0px;
}
.header-michiland img {
  padding: 8px 0px;
  width: 48px;
}
.header-michiland a:hover {
  color: #f2a93f;
}

.navbar-michiland {
  display: flex;
  justify-content: end;
  align-items: center;
}
.navbar-michiland a {
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  padding: 4px 8px 4px 8px;
  font-size: 18px;
}

.btn {
  font-family: "Montserrat", sans-serif;
}
.btn:hover {
  background-color: #4E715C;
}

.btn-success {
  background-color: #4E715C;
  border: none;
}
.btn-success:hover {
  background-color: #2f4639;
}

.btn-dark {
  border: none;
}

.footer-michiland {
  display: flex;
}
.footer-michiland img {
  padding: 8px 0px;
  width: 48px;
}
.footer-michiland p {
  color: #FFFFFF;
  font-size: 14px;
}

#homeMichiland {
  padding-top: 64px;
}

.main-michiland {
  padding-top: 64px;
}

.redes-sociales li {
  padding-top: 24px;
  padding-inline: 16px;
  padding-bottom: 24px;
}

.box {
  width: 100%;
  height: 100%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 15px;
  border: 1px solid white;
}
.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  border-radius: 8px;
  border: 1px solid white;
  box-shadow: 2px 2px 6px 2px rgba(255, 235, 205, 0.193);
}
.box div {
  z-index: 3;
  border-radius: 14px;
  background-color: rgba(17, 17, 17, 0.8039215686);
  color: white;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: grid;
  place-items: end start;
  /* opacity: 0.5; */
}

.b1 {
  grid-area: a1;
}

.b2 {
  grid-area: a2;
}

.b3 {
  grid-area: a3;
}

.b4 {
  grid-area: a4;
}

.b5 {
  grid-area: a5;
}

.b6 {
  grid-area: a6;
}

.grid {
  padding: 15px;
  padding-left: 5rem;
  padding-right: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 300px);
  gap: 15px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
  place-items: end center;
  grid-template-areas: " a6 a3 a2 " " a4 a3 a2 " " a1 a1 a5 ";
}

.carousel-item {
  background: #333333;
}

.img-michi {
  width: 100%;
  height: 600px;
  object-fit: cover;
  opacity: 0.5;
}

#carouselMichis h5 {
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
#carouselMichis p {
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.carousel-libros h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
}
.carousel-libros p {
  font-size: 16px;
  font-weight: 400;
}

.card-img-top {
  height: 400px;
  object-fit: fill;
}

/* RESPONSIVE */
@media screen and (max-width: 426px) {
  .grid {
    padding: 15px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 300px);
    gap: 30px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    place-items: end center;
    grid-template-areas: " a6 " " a5 " " a4 " " a3 " " a2 " " a1 ";
  }
}
@media (max-width: 426px) {
  .logo-michiland {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar-michiland {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar-michiland a {
    font-size: 12px;
    padding: 2px 4px 2px 4px;
  }
  h1 {
    font-size: 32px;
    text-align: center;
  }
  p {
    text-align: center;
  }
  .card-img-top {
    height: 100px;
    object-fit: fill;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 42px;
  }
  p {
    font-size: 16px;
  }
  .img-home {
    width: 250px;
    height: 250px;
    padding-top: 16px;
  }
  h2 {
    font-size: 24px;
    text-align: center;
  }
  i {
    font-size: 16px;
  }
  .card-img-top {
    height: 300px;
    object-fit: fill;
  }
}

/*# sourceMappingURL=style.css.map */
