
#homeMichiland {
    padding-top: 64px;
}

.main-michiland {
    padding-top: 64px;
}

.redes-sociales {
    li {
        padding-top: 24px;
        padding-inline: 16px;
        padding-bottom: 24px;
    }
}
